auto-install-peers=false
strict-peer-dependencies=true
prefer-workspace-packages=true
public-hoist-pattern[]=react
public-hoist-pattern[]=react-*
public-hoist-pattern[]=wagmi
public-hoist-pattern[]=@wagmi/*
public-hoist-pattern[]=viem
public-hoist-pattern[]=@tanstack/react-query