@import 'tailwindcss';
@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: transparent;
  }
}

@theme static {
  --color-primary: rgb(var(--ls-colors-primary, 204, 45, 93));
  --color-primary-100: rgb(var(--ls-colors-primary-100, 255, 148, 176));
  --color-primary-200: rgb(var(--ls-colors-primary-200, 245, 103, 141));
  --color-primary-300: rgb(var(--ls-colors-primary-300, 235, 84, 129));
  --color-primary-400: rgb(var(--ls-colors-primary-400, 229, 64, 114));
  --color-primary-500: rgb(var(--ls-colors-primary-500, 204, 45, 93));
  --color-primary-600: rgb(var(--ls-colors-primary-600, 178, 29, 74));
  --color-primary-700: rgb(var(--ls-colors-primary-700, 143, 23, 59));
  --color-primary-800: rgb(var(--ls-colors-primary-800, 89, 14, 37));
  --color-primary-900: rgb(var(--ls-colors-primary-900, 46, 7, 19));
  --color-primary-text: rgb(var(--ls-colors-primary-text, 225, 227, 230));
  --color-primary-text-tertiary: rgb(var(--ls-colors-text-tertiary, 118, 128, 147));
  --color-primary-buttonTextColor: rgb(var(--ls-colors-buttonTextColor, 228, 229, 240));
  --color-primary-logoColor: rgb(var(--ls-colors-logo, 255, 0, 147));

  --color-secondary: rgb(var(--ls-colors-secondary, 17, 29, 54));
  --color-secondary-100: rgb(var(--ls-colors-secondary-100, 60, 72, 97));
  --color-secondary-200: rgb(var(--ls-colors-secondary-200, 52, 63, 87));
  --color-secondary-300: rgb(var(--ls-colors-secondary-300, 40, 50, 71));
  --color-secondary-400: rgb(var(--ls-colors-secondary-400, 31, 40, 61));
  --color-secondary-500: rgb(var(--ls-colors-secondary-500, 23, 31, 49));
  --color-secondary-600: rgb(var(--ls-colors-secondary-600, 18, 25, 41));
  --color-secondary-700: rgb(var(--ls-colors-secondary-700, 14, 21, 36));
  --color-secondary-800: rgb(var(--ls-colors-secondary-800, 11, 17, 31));
  --color-secondary-900: rgb(var(--ls-colors-secondary-900, 6, 10, 20));
  --color-secondary-text: rgb(var(--ls-colors-secondary-text, 163, 173, 194));

  --color-coinbase-primary: rgb(74, 108, 238);
  --color-coinbase-diabled: rgb(25, 26, 69);

  --color-warning-foreground: rgb(var(--ls-colors-warning-foreground, 255, 201, 74));
  --color-warning-background: rgb(var(--ls-colors-warning-background, 47, 43, 29));
  --color-error-foreground: rgb(var(--ls-color-error-foreground, 255, 97, 97));
  --color-error-background: rgb(var(--ls-color-error-background, 46, 27, 27));
  --color-success-foreground: rgb(var(--ls-colors-success-foreground, 89, 224, 125));
  --color-success-background: rgb(var(--ls-colors-success-background, 14, 43, 22));

}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility styled-scroll {
  @apply scrollbar:w-1.5! scrollbar:h-1.5! scrollbar:bg-secondary-500 scrollbar:absolute scrollbar-thumb:rounded-sm! scrollbar-thumb:bg-slate-500/50!;
}
.styled-scroll::-webkit-scrollbar{
  position:absolute
}
@utility rdxCommandList {
  max-height: var(--radix-popper-available-height);
}

@layer utilities {

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  .styled-scroll {
    @apply scrollbar:!w-1.5 scrollbar:!h-1.5 scrollbar:bg-secondary-500 scrollbar-thumb:!rounded scrollbar-thumb:!bg-slate-500/50 ;
  }
  
  .rdxCommandList {
    max-height: var(--radix-popper-available-height);
  }
}

@layer base {

  /* body {
    @apply bg-secondary-900 sm:bg-gradient-to-b to-secondary-500 from-secondary-900;
  } */

  /* On iOS disabled inputs have default opacitiy */
  .ntdi {
    opacity: 1;
    /* required on iOS */
  }
}

iframe body {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;

  /* border: 1px solid #1A2949; */
  -webkit-text-fill-color: rgb(var(--ls-colors-primary-text));
  caret-color: rgb(var(--ls-colors-primary-text));
  -webkit-box-shadow: 0 0 0px 1000px rgb(var(--ls-colors-secondary-700)) inset;
  box-shadow: 0 0 0px 1000px rgb(var(--ls-colors-secondary-700)) inset;

}

.shadowed-button {
  transform: translate3d(0, 0, 0);
}

hr.horizontal-gradient {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, hsla(0, 0%, 100%, 0), #1A2949, hsla(0, 0%, 100%, 0));
}

.strong-highlight {
  position: relative;
  opacity: 1;
  z-index: 1;
  display: inline-block;
  margin: 0 3px;
}

.strong-highlight::after {
  /* Highlight color */
  background-color: var(--color-secondary-500);
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 110%;
  border-radius: 5px;
  left: -5px;
  bottom: -5%;
  z-index: -1;
}

.iphone-x {
  position: relative;
  margin: 40px auto;
  width: 320px;
  height: 780px;
  background-color: #7371ee;
  background-image: url(/cnbs1.png);
  background-size: contain;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
}

.iphone-x:before,
.iphone-x:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.iphone-x:after {
  bottom: 7px;
  width: 140px;
  height: 4px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.iphone-x:before {
  top: 0px;
  width: 56%;
  height: 30px;
  background-color: #1f1f1f;
  border-radius: 0px 0px 40px 40px;
}

.iphone-x i,
.iphone-x b,
.iphone-x s,
.iphone-x span {
  position: absolute;
  display: block;
  color: transparent;
}

.iphone-x i {
  top: 0px;
  left: 50%;
  transform: translate(-50%, 6px);
  height: 8px;
  width: 15%;
  background-color: #101010;
  border-radius: 8px;
  box-shadow: inset 0px -3px 3px 0px rgba(255, 255, 255, 0.2);
}

.iphone-x b {
  left: 10%;
  top: 0px;
  transform: translate(180px, 4px);
  width: 12px;
  height: 12px;
  background-color: #101010;
  border-radius: 12px;
  box-shadow: inset 0px -3px 2px 0px rgba(255, 255, 255, 0.2);
}

.iphone-x b:after {
  content: "";
  position: absolute;
  background-color: #2d4d76;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
  top: 3px;
  left: 3px;
  display: block;
  border-radius: 4px;
  box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
}

.iphone-x s {
  top: 50px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-size: 70px;
  font-weight: 100;
  padding-top: 60px;
}

.iphone-x span {
  bottom: 50px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  left: 30px;
}

.iphone-x span+span {
  left: auto;
  right: 30px;
}



.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: green;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators>button {
  margin: 5px;
}

.indicators>button.active {
  background-color: green;
  color: #fff;
}

.carousel {
  display: inline-flex;
  overflow-x: hidden;
  /*  scroll snap is a great feature which will center the image on snap on touch screen devices  */
  scroll-snap-type: x mandatory;
  /* all below will hide the scrollbar on all browsers.    */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

tspan {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

input::-webkit-input-placeholder {
  line-height: normal !important;
}

body {
  overflow: overlay;
  background-color: rgb(var(--ls-colors-secondary-700));
}

body::-webkit-scrollbar {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--ls-colors-secondary-700));
}

body::-webkit-scrollbar {
  width: 0.375rem !important;
}

body::-webkit-scrollbar {
  height: 0.375rem !important;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--ls-colors-secondary-text), 0.4) !important;
}

body::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1 !important;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.25rem !important;
}

input:disabled,
textarea:disabled,
input:disabled::placeholder,
textarea:disabled::placeholder {
  -webkit-text-fill-color: var(--color-primary-text-tertiary);
  /* 1. sets text fill to 'primary-text': '#a4afc8' */
  opacity: 1;
  /* 2. correct opacity on iOS */
}

.space-x-reverse {
  --space-x-reverse: 1
}

.space-y-reverse {
  --space-y-reverse: 1
}
/* styles.css */
.AccordionContent {
	overflow: hidden;
  transform-origin: top;
}
.layout-animating .AccordionContent[data-state="open"],
.layout-animating .AccordionContent[data-state="closed"] {
  animation: none !important;
}
.AccordionContent[data-state="open"] {
	animation: slideDown 300ms ease-out;
}
.AccordionContent[data-state="closed"] {
	animation: slideUp 300ms ease-out;
}
.AccordionContent.NoAnimation {
  animation-play-state: paused !important;
}
.no-anchor {
  overflow-anchor: none;
}
@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
    
@layer utilities {
  @keyframes pulse-strong {
    50% {
      opacity: 0.4; 
    }
  }
  .animate-pulse-strong {
    animation: pulse-strong 1.4s cubic-bezier(0.77, 0, 0.17, 1) infinite;
  }

  @keyframes pulse-stronger {
    50% {
      opacity: 0.15; 
    }
  }
  .animate-pulse-stronger {
    animation: pulse-stronger 1.4s cubic-bezier(0.77, 0, 0.17, 1) infinite;
  }
}

/*Transition*/
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .dialog-overlay[data-state='open'],
  .dialog-content[data-state='open'] {
    animation: fadeIn 100ms ease-out;
  }
  
  .dialog-overlay[data-state='closed'],
  .dialog-content[data-state='closed'] {
    animation: fadeOut 100ms ease-in;
  }

  /* Vaul */
  [data-vaul-drawer] {
  touch-action: none;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1);
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}

[data-vaul-drawer][data-vaul-snap-points='false'][data-vaul-drawer-direction='bottom'][data-state='open'] {
  animation-name: slideFromBottom;
}
[data-vaul-drawer][data-vaul-snap-points='false'][data-vaul-drawer-direction='bottom'][data-state='closed'] {
  animation-name: slideToBottom;
}

[data-vaul-drawer][data-vaul-snap-points='false'][data-vaul-drawer-direction='top'][data-state='open'] {
  animation-name: slideFromTop;
}
[data-vaul-drawer][data-vaul-snap-points='false'][data-vaul-drawer-direction='top'][data-state='closed'] {
  animation-name: slideToTop;
}

[data-vaul-drawer][data-vaul-snap-points='false'][data-vaul-drawer-direction='left'][data-state='open'] {
  animation-name: slideFromLeft;
}
[data-vaul-drawer][data-vaul-snap-points='false'][data-vaul-drawer-direction='left'][data-state='closed'] {
  animation-name: slideToLeft;
}

[data-vaul-drawer][data-vaul-snap-points='false'][data-vaul-drawer-direction='right'][data-state='open'] {
  animation-name: slideFromRight;
}
[data-vaul-drawer][data-vaul-snap-points='false'][data-vaul-drawer-direction='right'][data-state='closed'] {
  animation-name: slideToRight;
}

[data-vaul-drawer][data-vaul-snap-points='true'][data-vaul-drawer-direction='bottom'] {
  transform: translate3d(0, var(--initial-transform, 100%), 0);
}

[data-vaul-drawer][data-vaul-snap-points='true'][data-vaul-drawer-direction='top'] {
  transform: translate3d(0, calc(var(--initial-transform, 100%) * -1), 0);
}

[data-vaul-drawer][data-vaul-snap-points='true'][data-vaul-drawer-direction='left'] {
  transform: translate3d(calc(var(--initial-transform, 100%) * -1), 0, 0);
}

[data-vaul-drawer][data-vaul-snap-points='true'][data-vaul-drawer-direction='right'] {
  transform: translate3d(var(--initial-transform, 100%), 0, 0);
}

[data-vaul-drawer][data-vaul-delayed-snap-points='true'][data-vaul-drawer-direction='top'] {
  transform: translate3d(0, var(--snap-point-height, 0), 0);
}

[data-vaul-drawer][data-vaul-delayed-snap-points='true'][data-vaul-drawer-direction='bottom'] {
  transform: translate3d(0, var(--snap-point-height, 0), 0);
}

[data-vaul-drawer][data-vaul-delayed-snap-points='true'][data-vaul-drawer-direction='left'] {
  transform: translate3d(var(--snap-point-height, 0), 0, 0);
}

[data-vaul-drawer][data-vaul-delayed-snap-points='true'][data-vaul-drawer-direction='right'] {
  transform: translate3d(var(--snap-point-height, 0), 0, 0);
}

[data-vaul-overlay][data-vaul-snap-points='false'] {
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}
[data-vaul-overlay][data-vaul-snap-points='false'][data-state='open'] {
  animation-name: fadeIn;
}
[data-vaul-overlay][data-state='closed'] {
  animation-name: fadeOut;
}

[data-vaul-animate='false'] {
  animation: none !important;
}

[data-vaul-overlay][data-vaul-snap-points='true'] {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.32, 0.72, 0, 1);
}

[data-vaul-overlay][data-vaul-snap-points='true'] {
  opacity: 1;
}

[data-vaul-drawer]:not([data-vaul-custom-container='true'])::after {
  content: '';
  position: absolute;
  background: inherit;
  background-color: inherit;
}

[data-vaul-drawer][data-vaul-drawer-direction='top']::after {
  top: initial;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 200%;
}

[data-vaul-drawer][data-vaul-drawer-direction='bottom']::after {
  top: 100%;
  bottom: initial;
  left: 0;
  right: 0;
  height: 200%;
}

[data-vaul-drawer][data-vaul-drawer-direction='left']::after {
  left: initial;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 200%;
}

[data-vaul-drawer][data-vaul-drawer-direction='right']::after {
  left: 100%;
  right: initial;
  top: 0;
  bottom: 0;
  width: 200%;
}

[data-vaul-overlay][data-vaul-snap-points='true']:not([data-vaul-snap-points-overlay='true']):not(
    [data-state='closed']
  ) {
  opacity: 0;
}

[data-vaul-overlay][data-vaul-snap-points-overlay='true'] {
  opacity: 1;
}

[data-vaul-handle] {
  display: block;
  position: relative;
  opacity: 0.7;
  background: #e2e2e4;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 32px;
  border-radius: 1rem;
  touch-action: pan-y;
}

[data-vaul-handle]:hover,
[data-vaul-handle]:active {
  opacity: 1;
}

[data-vaul-handle-hitarea] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: max(100%, 2.75rem); /* 44px */
  height: max(100%, 2.75rem); /* 44px */
  touch-action: inherit;
}

@media (hover: hover) and (pointer: fine) {
  [data-vaul-drawer] {
    user-select: none;
  }
}

@media (pointer: fine) {
  [data-vaul-handle-hitarea] {
    width: 100%;
    height: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes slideFromBottom {
  from {
    transform: translate3d(0, var(--initial-transform, 100%), 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideToBottom {
  to {
    transform: translate3d(0, var(--initial-transform, 100%), 0);
  }
}

@keyframes slideFromTop {
  from {
    transform: translate3d(0, calc(var(--initial-transform, 100%) * -1), 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideToTop {
  to {
    transform: translate3d(0, calc(var(--initial-transform, 100%) * -1), 0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translate3d(calc(var(--initial-transform, 100%) * -1), 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideToLeft {
  to {
    transform: translate3d(calc(var(--initial-transform, 100%) * -1), 0, 0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translate3d(var(--initial-transform, 100%), 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideToRight {
  to {
    transform: translate3d(var(--initial-transform, 100%), 0, 0);
  }
}
