@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* .styled-scroll {
    @apply scrollbar: !w-1.5 scrollbar: !h-1.5 scrollbar:bg-secondary-500 scrollbar-thumb: !rounded scrollbar-thumb: !bg-slate-500/50;
  } */

  .rdxCommandList {
    max-height: var(--radix-popper-available-height);
  }
}

@layer base {

  body {
    @apply bg-secondary-900 sm:bg-secondary-950;
  }

  /* On iOS disabled inputs have default opacitiy */
  .ntdi {
    opacity: 1;
    /* required on iOS */
  }
}