@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

}

@layer base {

  body {
    @apply bg-gray-900;
  }

  /* On iOS disabled inputs have default opacitiy */
  .ntdi {
    opacity: 1;
    /* required on iOS */
  }
}

.top-backdrop {
  width: 1325px;
  height: 1164px;
  position: absolute;
  filter: blur(133px);
  transform: translate(-50%, -50%) translate3d(0, 0, 0);
  left: 50%;
  top: -5%;
  border-radius: 50%;
  z-index: -1;
  background: rgba(255, 0, 184, 0.2);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #1A2949;
  -webkit-text-fill-color: #f8fdff;
  -webkit-box-shadow: 0 0 0px 1000px #131e36 inset;
  transition: background-color 5000s ease-in-out 0s;
}

hr.horizontal-gradient {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, hsla(0, 0%, 100%, 0), #1A2949, hsla(0, 0%, 100%, 0));
}

.strong-highlight {
  position: relative;
  font-size: larger;
  opacity: 1;
  z-index: 1;
}

.strong-highlight::after {
  /* Highlight color */
  background-color: #E42575;
  background: linear-gradient(90deg, rgba(114,0,67,1) 0%, rgba(45,22,54,1) 100%);
  /* background: linear-gradient(90deg, rgba(43,23,54,1) 0%, rgba(228,37,117,1)*/
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 40%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
}