@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer base {
  body {
    @apply bg-gray-900;
  }

  /* On iOS disabled inputs have default opacitiy */
  .ntdi {
    opacity: 1;
    /* required on iOS */
  }
}

.top-backdrop {
  width: 1325px;
  height: 1164px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -5%;
  border-radius: 50%;
  z-index: -1;
  background: rgba(255, 0, 184, 0.2);
  filter: blur(133px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #1A2949;
  -webkit-text-fill-color: #f8fdff;
  -webkit-box-shadow: 0 0 0px 1000px #131e36 inset;
  transition: background-color 5000s ease-in-out 0s;
}